
.okaybien img{
    width: 300px;
    border-radius:  500px;
    position: relative;
}



body
{
    text-align: center;
    position: relative;
    background-image: url("../images/image.jpg");
    



}

.Fond{
    background-image: url("../images/image.jpg");
    background-size: cover;
}

h1
{
    position: absolute;
}

img
{
    background-image: url("https://plus.unsplash.com/premium_photo-1661953124438-3959644bbcb4?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Rm9yJUMzJUFBdCUyMHBhbm9yYW1pcXVlfGVufDB8fDB8fHww. png");
    position: center ;
}


.okaybien img
{
    text-align: center;
    align-items: center;
    width: 230px;
    height: 222px;
    left: 21px;
    top: 170px;
}

.Titre
{
    height: 222px;
    display: flex;
    position: center;
    text-align: center;
    align-items: center;
    margin:23px;
    
  

}

.Plantes
{
    height: 23px; 
    margin-top: 230px;
    background-color: #8DB1A0;
    border-radius: 20px;
    bottom: 20px;
    display:flex;
    align-items: center;
    text-align: center;
    right:250px;
    width: 150px;
    
}

.Connexion
{
    height: 23px; 
    margin-top: 23px;
    background-color: #8DB1A0;
    border-radius: 20px;
    bottom: 200px;
    text-align: center;
    align-items: center;
    width: 86px;
    
}
.Déconnexion
{
    height: 23px; 
    margin-top: 23px;
    text-align: center;
    background-color: #8DB1A0;
    border-radius: 20px;

    text-align: center;
    margin-bottom: 20px;
    display:flex;
    align-items: center;
    width: 95px;


 
}

.Tqui
{
    color:aquamarine;


}
#tout {
    display: flex;
    flex-direction: column;
    margin:23px;
    text-align: center;
    align-items: center;
}
