@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
.okaybien{
    display:flex;
    flex-direction: column;
    margin-left: 415px;
}
#img {
    border-radius: 200px;
    width: 230px;
    height: 222px;
}

body
{
    background-image: url("../images/image.jpg");
    background-size: 1240px;     
}
h1
{

    color: aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
}

.Titre
{
    margin-left: -50px;
    display: flex;
    font-family: 'Lexend Deca', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
#TXT {
    font-size: 20px;
    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
}
#Cofop{
    display:flex;
    justify-content: center;
    margin-left: -160px;
    margin-top: 20px;
}
.Plantes
{
    background-color: #8DB1A0;
    border-radius: 13px;
    bottom: 20px;
    display:flex;
    justify-content: center;
    right:250px;
    width:300px;
    height: 50px;
    font-size: 24px;
    font-family: 'Lexend Deca', sans-serif;
    
}


.Déconnexion
{
    height: 57px; 
    width: 262px;
    margin-top: 20px;
    background-color: #569A73;
    border-radius: 90px;
    color: aliceblue;
    font-family: 'Lexend Deca', sans-serif;
    margin-left: 405px;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 
}
