@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
body {
        background-image:url(../images/feuil.jpg);
        background-size: cover;
       width: 1280px;
       margin:0;
}
#titre {
    color: white;
    height: 100px;
    margin-left: 60px;
    margin-top: 40px;
    text-decoration: underline;
    font-family: 'Lexend Deca', sans-serif;
    z-index: 2;
    margin-bottom: -19px;
}
#vert {
    width: 1280px;
    height: 639px;
    background-color: #569A73;
    position: absolute;
    display: flex;
}
#carre {
    width: 280px;
    height: 280px;
    background-color: white;
    display: flex;
    position: absolute;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Lexend Deca', sans-serif;
    justify-content: center ;
    
}
#carre1{
    width: 280px;
    height: 280px;
    background-color: white;
    display: flex;
    position: absolute;
    border-radius: 10px;
    margin-top: 330px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.3);
    margin-left: 30px;
    
    font-family: 'Lexend Deca', sans-serif;
    justify-content: center ;
}
#blanc {
    display: flex;
    flex-direction: column  ;
    font-size: 10px;
}
#carre2 {
    width: 280px;
    height: 280px;
    background-color: white;
    display: flex;
    position: absolute;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    
    font-family: 'Lexend Deca', sans-serif;
    justify-content: center ;
}
#carre3{
    width: 280px;
    height: 280px;
    background-color: white;
    display: flex;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.3);
    margin-top: 330px;
    margin-left: 30px;
    
    font-family: 'Lexend Deca', sans-serif;
    justify-content: center ;
}
#blanc1 {
    margin-left: 450px;
    display: flex;
    font-size: 10px;
    flex-direction: column  ;
}
#carre4 {
    width: 280px;
    height: 280px;
    background-color: white;
    display: flex;
    position: absolute;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    
    font-family: 'Lexend Deca', sans-serif;
    z-index: 1;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.3);
    justify-content: center ;
}
#carre5{
    width: 280px;
    height: 280px;
    background-color: white;
    display: flex;
    position: absolute;
    border-radius: 10px;
    margin-top: 330px;
    margin-left: 30px;
    
    font-family: 'Lexend Deca', sans-serif;
    z-index: 2;
    justify-content: center ;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.3);

}
#blanc2 {
    margin-left: 900px;
    display: flex;
    font-size: 10px;
    flex-direction: column;
}
#barre {
    background-color: grey;
    margin-left: 1280px;
    height: 800px;
    width: 20px;
    position: absolute;
    margin-top: -60px;
}
#barr {
    background-color: grey;
    margin-top: 740px;
    margin-left: 200px;
    height: 20px;
    width: 1280px;
    position: absolute; 
}
#provo {
    margin-top: 100px;
    margin-left: 90px;
    z-index: 3;
    width: 160px; position: absolute;
}

#provo1 {
    margin-top: 400px;
    margin-left: 90px;
    z-index: 3;
    width: 160px; position: absolute;
}
#provo2 {
    margin-top: 340px;
    margin-left: 280px;
    z-index: 4;
    width: 15px; position: absolute;
}
#provo3 {
    margin-top: 40px;
    margin-left: 280px;
    z-index: 4;
    width: 15px; position: absolute;
}

#provo4 {
    margin-top: 360px;
    margin-left: 280px;
    z-index: 4;
    width: 20px; 
    position: absolute;
}
#provo5 {
    margin-top: 60px;
    margin-left: 280px;
    z-index: 4;
    width: 20px; 
    position: absolute;
}
#mini {
    background-color:#569A73 ;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    margin-left: 1220px;
    margin-top:10px;
    border-radius: 3px;
}
#titel{
    display: flex;
    flex-direction: row;
    
}