h1{
    color: white;
    font-size:  45px; 
    text-align: center;
}
body{
    background-image:url(../images/tableau_projet.jpg);
}
p{
    color: white;
    font-size: 39px;
    text-align: center;
}