@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #38a677;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.bulle {
    background-color: #ffffff;
    max-width: 1000px;
    max-height: 1000px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
    padding-bottom: 5%;
}
.formm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hautdepage h1 {
    text-align: center;
    
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;

}


input {
    max-width: 772px;
    width: 100%;
    height: 35px;
    
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    display: flex;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input::placeholder {
    color: #bbb;
}

button {
    width: 230px;
    height: 200px;
    background-color: #8fb1a0;
    border-radius: 12px;
    border-style: none;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
}

button:hover {
    transform: scale(1.05);
    background-color: #7b9e88;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
}

button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #333;
    font-size: 24px;
}

.accept button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #17a017;
    color: rgb(17, 17, 17);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 50px;
    margin-bottom: -10px;

}

.accept button:hover {
    background-color: #32c232;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-container img {
    border-radius: 15px;
}

.description {
    font-size: large;
    width: 100%;
    height: 70px;
    background-color: #8fb1a0;
    border-radius: 12px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
}
    

textarea {
    height: 50px;
    width: 100%;
    border-radius: 10px;
}
#plant-form{
    display: flex;
    justify-content: center;
}
.retour{
    margin-top: 8px;
    max-width: 50px;
    max-height: 20px;
    text-decoration: none;
    
    
}
#plant-form{
    text-align: center;
    
}
.accept {
    
}